<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>HELLO WORLD <%= title %></p>
    <div id="object_container">
    	Hello world
    </div>
  </body>
</html>
