<!DOCTYPE html>
<html>

  <head>

    <title>güdmaps</title>

    <script src="https://cdn.jsdelivr.net/npm/interactjs@1.3.3/dist/interact.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/test.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  </head>

  <body>

    <header>
      
      <!-- Temp title -->
      <h1>güdmaps</h1>
    </header>
    <p>I must create a system or be enslaved by another mans; I will not reason and compare: my business is to create.</p>
    
    <!-- Column/row buttons -->
    <button class="button_vertical">
      Add row
    </button>
    <button class="button_horizontal">
      Add column
    </button>

    <!-- Draggable elements in container -->
    <div id="object_container_overlay">
      
      <svg></svg>
      
      <div id="object_container">
      
        <div class="dropzone first"></div>
        
        <!-- Div just for testing purposes (to be replaced by SVG elements) -->
        <div class="draggable">
            Step 1
        </div>
        
      </div>

    </div>

  </body>
</html>
