body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 15px;
	background-color: #F4F4F4;
}

header {
	background-color: #1C1C1C;
	font-color: white;
	padding: 5px;
	margin: -15px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	color: white;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #1C1C1C;
}

a {
	color: #00B7FF;
}

svg {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

#object_container {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	width: auto;
	height: 500px;
}

#object_container_overlay {
	display: inline-block;
	position: relative;
	margin: 10px;
	z-index: 999;
	width: 100%;
}

#object_container_overlay:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, #000 2px, transparent 2px), linear-gradient(to right, #000 2px, transparent 2px);
	background-size: 10px 10px;
	background-color: rgba(255, 0, 0, 0.2);
	padding: 1px;
	z-index: -999;
}

.draggable {
	background-color: #29e;
	color: #fff;
	font-size: 0.8em;
	text-align: center;
	display: inline-block;
	border-radius: 4px;
	position: absolute;
	width: 100px;
	height: 100px;
}

.dropzone {
	/*Temp inner border just to see the dropzones during dev*/
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-color: black;
	border-width: 1px;
	border-style: solid;

    position: absolute;
    height: 120px;
    width: 120px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);  
    display: inline-block;
    z-index: -1;
    box-shadow: none;
}
.first {left: 0px; top: 0px;};

<% end %>


