body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#object_container {
	border-color: black;
	border-width: 2px;
	border-style: solid;
	width: auto;
	height: 500px;
}

.draggable {
  width: 40px;
  height: 40px;
  background-color: #29e;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  display: inline-block; /* I don't know why but this makes the elements stack horizontally at start... Which is nice I guess */
  border-radius: 4px;
  padding: 2%;
  margin: 5%;
}
<% end %>