body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

svg {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

#object_container {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	width: auto;
	height: 500px;
}

#object_container_overlay {
  display: inline-block;
  position: relative;
  margin: 10px;
  z-index: 999;
  width: 100%;
}

#object_container_overlay:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #000 2px, transparent 2px), linear-gradient(to right, #000 2px, transparent 2px);
  background-size: 10px 10px;
  background-color: rgba(255, 0, 0, 0.2);
  padding: 1px;
  z-index: -999;
}

/*Test shit from interact.js*/

.draggable {
  /*width: 40px ;*/
  /*height: 40px;*/
  background-color: #29e;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  display: inline-block; /* I don't know why but this makes the elements stack horizontally at start... Which is nice I guess */
  border-radius: 4px;
  position: absolute;
  width: 100px;
  height: 100px;
}

.dropzone {
/*	width: 80px;
	height: 80px;
	border: 10px dotted;
	color: white;*/
/*    left: 150px;
    top: 150px;*/
    position: relative;
    height: 200px;
    width: 200px;
    background: white;
    /*border: 1px solid #568eb9;*/
    box-shadow: 0 5px 15px rgba(0,0,0,.2);  
    display: inline-block;
    z-index: -1;
}

/*To do 05.11.18/8:28PM | Fix this as we might not need the .first/.second convention anymore*/
.first {left: 0px; top: 0px;};
.second {left:  500px; top: 150px;};

/*.dropzone:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background: #6dc001;

  transform-origin: center;
  transform: scale(0);
}*/

<% end %>


